<style>
h1 {
  color:'#f00';
}

.date-box{
  width: 200px;
  height: 20px;
  background-color: rgb(0, 255, 170);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  font-size: 14px;
  color:#aaa;
  font-weight: bold;
}
</style>

<h1>Olá {{user}}, aqui é teste</h1>
<p>{{name}}</p>

<div class="date-box">
  <span>Enviado {{date}}</span>
</div>
